@import "tailwindcss";
@import 'primeicons/primeicons.css';
@import "tailwindcss-primeui";

.pdf-area,
.pdf-area * {
  background-color: #f1f0f0 !important;
  color: #000 !important;
  border-color: #000 !important;
}